@font-face {
  font-family: "Sublima";
  src: url(sublima/Sublima-ExtraBoldItalic.otf) format("opentype");
}

body {
  margin: 0;
  padding: 0;
  background-image: url("IMG/Fondo.png");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  font-family: "Sublima", sans-serif;
  overflow-x: hidden;
  overflow-y: auto;
}
.container {
  max-width: 100%;
  padding: 1rem;
  box-sizing: border-box;
}

body::before {
  content: "";
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  z-index: -1;
}
.navbar {
  font-family: "Sublima", sans-serif;
  display: flex;
  justify-content: space-around;
  align-self: flex-end;
  padding: 10px;
  background: linear-gradient(
    to right,
    #08001534,
    #080015e5,
    #080015e5,
    #080015e5
  );
}
.UA {
  width: 100px;
  height: auto;
  color: rgb(255, 138, 42);
  font-size: 30px;
}
.aHero {
  width: 100px;
  height: auto;
  color: white;
}
.nav {
  display: flex;
  text-align: end;
  gap: 20px;
  list-style: none;
  font-family: "Sublima", sans-serif;
  color: white;
  text-decoration: none;
  font-size: 20px;

  border: 0 0 3px solid #33313449;
  padding: 10px 20px;
  align-items: right;
}
.nav a {
  color: white;
  text-decoration: none;
}
.Become,
.the,
.Next {
  color: white;
  font-size: 70px;
}
.Great,
.Hero {
  color: rgb(255, 138, 42);
  font-size: 90px;
}

.header {
  display: flex;
  align-items: center;
  position: relative;
  min-height: 85vh;
  padding: 0 10%;
  overflow: visible;
}
.header-info {
  flex: 0 0 50%;
  text-align: left;
  z-index: 2;
}
.descripcion {
  color: white;
  font-size: 20px;
  margin-top: 20px;
}

.DekuAction1 {
  position: absolute;
  top: 5%;
  right: -5%;
  width: 60%;
  max-width: 650px;
  height: auto;
  z-index: 5;
  pointer-events: none;
  filter: drop-shadow(-20px 10px 50px rgba(208, 255, 250, 0.8));
}

.Stats {
  display: flex;
  justify-content: flex-start;
  padding: 10px 0;
  margin: 40px 0;
  color: white;
  background: linear-gradient(
    to right,
    #080015e5,
    #080015e5,
    #080015e5,
    #08001534
  );
}
.stat-item {
  display: flex;
  flex-direction: column;
  border-right: 1px solid rgba(255, 255, 255, 0.3);
  padding: 0 40px;
}
.stat-item:last-child {
  border-right: none;
}
.istats {
  font-family: "Sublima", sans-serif;
  font-size: 15px;
  text-transform: uppercase;
  letter-spacing: 1px;
  color: #ccc;
}
.sstats {
  font-family: "Sublima", sans-serif;
  font-size: 32px;
  font-weight: 900;
  margin-bottom: 5px;
}

.featured {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  gap: 1rem;
  padding: 40px 10%;
}

h3 {
  text-align: center;
  color: white;
  margin-top: 20px;
  padding: 10px 0;
  position: relative;
  text-transform: uppercase;
  background: linear-gradient(
    to right,
    #08001534,
    #080015e5,
    #080015e5,
    #08001534
  );
  text-transform: uppercase;
  letter-spacing: 2px;
}
h3::before {
  content: "";
  position: absolute;
  top: 0;
  left: -3px;
  width: 100%;
  height: 3px;
  background: linear-gradient(to right, rgba(255, 255, 255, 0.8), transparent);
}
h3::after {
  content: "—";
  position: absolute;
  left: 0;
  color: #f1c40f;
  font-weight: bold;
}

.program_cards_container {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  grid-auto-rows: minmax(250px, auto);
  gap: 20px;
  padding: 40px 10%;
}

/*marco*/
.program_item {
  position: relative;
  overflow: hidden;
  border: 2px solid #333;
  border-radius: 12px;
  background: #000;
  height: 100%;
}
.program_item {
  border: 2px solid #333;
  border-radius: 12px;
  overflow: hidden;
  position: relative;
  background: #000;
  transition: border-color 0.3s ease;
}
.frame-3-up {
  grid-column: span 4;
}
.why_choose p,
.hero-info p {
  position: relative;
  padding-left: 15px;
}

.frame-4-down {
  grid-column: span 3;
}

.program_img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  display: block;
  transition: transform 0.6s ease;
}

/*degradooo*/
.program_overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(
    to top,
    rgba(0, 0, 0, 0.9) 20%,
    rgba(0, 0, 0, 0.5),
    transparent
  );
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  padding: 20px;
  box-sizing: border-box;
  opacity: 0;
  transition: opacity 0.3s ease;
  pointer-events: none;
}
.program_overlay h4 {
  color: white;
  margin: 0;
  font-family: "Sublima", sans-serif;
  text-transform: uppercase;
  font-size: 1.2rem;
  line-height: 1.2;
  text-shadow: 2px 2px 4px rgba (0, 0, 0, 1);
}
.program_item:hover {
  border-color: #e62429;
}
.program_item:hover .program_overlay {
  opacity: 1;
}
.program_item:hover .program_img {
  transform: scale(1.1);
}
.hero-card {
  background: rgba(10, 10, 10, 0.95);
  border: 1px solid #333;
  border-radius: 12px;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  transition:
    border-color 0.3s,
    transform 0.3s;
  filter: drop-shadow(-5px 5px 20px rgba(0, 0, 0, 0.8));
}

.hero-img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: top;
  transition: transform 0.5s ease;
}
.hero-card:hover {
  border-color: #e62429;
  transform: translateY(-5px);
}

.hero-card:hover .hero-img {
  transform: scale(1.05);
}

.hero-img-container {
  width: 100%;
  height: 220px;
  overflow: hidden;
  position: relative;
}
.hero-card:hover .hero-img,
.program_item:hover .program_img {
  transform: scale(1.1);
}
.hero-info {
  padding: 20px;
  background: #0a0a0a;
  border-top: 1px solid #222;
}

.hero-name-banner {
  background: linear-gradient(90deg, #e62429, #a30000);
  color: white;
  margin: 0;
  padding: 10px 15px;
  font-family: "Sublima", sans-serif;
  font-size: 1.2rem;
  text-transform: uppercase;
  clip-path: polygon(0 0, 100% 0, 85% 100%, 0 100%);
  width: fit-content;
  min-width: 70%;
  position: relative;
  z-index: 2;
  margin-top: -20px;
}
.hero-info-content {
  background: #080808;
  padding: 15px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.hero-stats-row p {
  margin: 2px 0;
  font-size: 0.8rem;
  color: #bbb;
}
.hero-stats-row span {
  color: white;
  font-weight: bold;
}
.stars {
  color: #ffb400 !important;
}

.btn-profile {
  background: #e62429;
  color: white;
  text-decoration: none;
  font-size: 0.7rem;
  padding: 5px 10px;
  border-radius: 4px;
  text-transform: uppercase;
  font-weight: bold;
  transition: 0.3s;
}
.btn-profile:hover {
  background: white;
  color: #e62429;
}
.hero-stats-m {
  margin-bottom: 15px;
}
.hero-stats-m p {
  font-size: 0.85rem;
  color: #888;
  margin: 4px 0;
  text-transform: uppercase;
  letter-spacing: 1px;
}

.hero-info p {
  font-family: "Sublima", sans-serif;
  font-size: 18px;
  margin: 0.25rem 0;
  color: white;
}

.learn-more {
  width: 100%;
  padding: 10px;
  background: linear-gradient(90deg, #e62429, #8b0000);
  border: none;
  color: white;
  font-family: "Sublima", sans-serif;
  font-weight: bold;
  cursor: pointer;
  text-transform: uppercase;
  clip-path: polygon(5% 0, 100% 0, 95% 100%, 0 100%);
  transition: filter 0.3s;
}

.whyUA {
  display: flex;
  grid-template-columns: repeat(auto-fit, minmax(700px, 1fr));
  gap: 50px;
  margin: 0 auto;
  max-width: 1000px;
  text-align: center;
  align-items: center;
  background: linear-gradient(
    to right,
    #08001534,
    #080015e5,
    #080015e5,
    #08001534
  );
}

.huh {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  padding: 20px;
  color: white;
  font-family: "Sublima", sans-serif;
}
.whyUA img {
  max-width: 100px;
  height: auto;
  margin-bottom: 10px;
}

.feature p {
  font-size: 1.2rem;
  margin: 0;
}
